.row1 {
  background-image: url("/images/background-lake.jpg");
}

.row1--header {
  height: auto;
  padding: none;
  background-position: bottom;
  text-align: center;
}

.row1__title {
  font-family: Arial, sans-serif;
  color: white;
  font-variant: small-caps;
  font-size: 3em;
}

.row2 {
  height: auto;
}

.row1--menu {
  height: auto;
  padding: none;
  /*outline-color: black;*/
  /*outline-style: solid;*/
  /*outline-offset: 0;*/
  /*outline-width: thin;*/
}

.row1--link {
  /*width: 25%;*/
  /*margin: 0 auto;*/
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-variant: small-caps;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: red;
}

.row2__right {
  height: inherit;
  /*padding: 1em;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*padding-left: 10%;*/
  /*padding-right: 10%;*/
}
