html {
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
}

body {
  /*background-image: url("/images/background-sand.jpg");*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-color: #195555;
  height: 100%;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
}

.wrapper {
  margin-bottom: 1em;
}

.row1--header {
  height: auto;
  /*margin-top: 2em;*/
  color: #002626;
  text-align: center;
}

.row1__logo {
  float: left;
  /*height: inherit;*/
  position: absolute;
  padding: 1em;
}

.row1__title {
  font-family: Arial, sans-serif;
  color: #195555;
  font-variant: small-caps;
  line-height: 0px;
  padding-bottom: 1em;
  padding-top: 0px;
}

.row1__langs {
  /*position: relative;*/
  float: right;
  /*right: 0;*/
  height: 0;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  /*top: -30px;*/
  overflow: visible;
  clear: none;
}

.row1__title h1 {
  font-size: 3em;
  margin-top: 0em;
}

.row1__green a {
  color: #227122;
}

.row1__blue a {
  color: #23355f;
}

.row1__blue {
  background-color: #d5d5d5;
}

.row1__green {
  background-color: #ddd;
}

.row2 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #002626;
}

.row2 article {
  color: #002626;
}

.row2 a {
  color: #0c4f0c;
}

.row2 a:visited {
  color: #23355f;
}

.row1__menu {
  height: auto;
  padding: none;
}

.row1--link {
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  /*color: red;*/
}

.timestamp {
    color: #003300;
    font-size: 90%;
    font-variant: small-caps;
}

.post h1, .post h2, .post h3 {
    color: #23355f;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}

div.post {
  padding: none;
}

.post--lang_zh {
  font-size: 120%;
}

.post__content {
  /*font-family: Tahoma, Geneva, sans-serif;*/
  color: #002626;
}

hr {
    width: 50%;
    margin: 0 auto;
    color: #666;
}

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

/*Tylko na komórce!*/
@media only screen and (min-device-width: 480px) {
  div.post {
    padding: 0.5em;
  }
}
