.row1__menu.row
  .col-sm-4.row1--link.col-xs-4
    = link_to t("homepage"), root_path
  .col-sm-4.row1--link.col-xs-4
    = link_to t("blog"), blog_path
  .col-sm-4.row1--link.col-xs-4
    = link_to t("contact_me"), about_path
