%nav.row1__menu.row
  .col-sm-4.row1--link.col-xs-4
    = link_to t("homepage"), :controller => :pages, :action => :home, :locale => current_locale
  .col-sm-4.row1--link.col-xs-3
    = link_to t("blog"), :controller => :posts, :action => :index, :locale => current_locale
  .col-sm-4.row1--link.col-xs-5
    = link_to t("contact_me"), :controller => :pages, :action => :about, :locale => current_locale
