%header.w3-row.row1
  .w3-row.w3-container
    .w3-col.l2
      &nbsp;
    .w3-col.l8.s12.row1--header
      .light-green
        -# .row1__logo.w3-quarter
        -#  = image_tag 'logo.png', width: "100px", height: "100px"
        %span.row1__title Elefanto<br />
        Memoirs of an elephant</small>
      .w3-topnav.row1--menu
        .w3-col.w3-quarter.row1--link.light-green.w3-padding
          %span.row1--link= link_to "Strona główna", :controller => :pages, :action => :home
        .w3-col.w3-quarter.row1--link.teal.w3-padding
          %span.row1--link= link_to "Blog", :controller => :posts, :action => :show, :id => Post.last.id
        .w3-col.w3-quarter.row1--link.light-green.w3-padding
          %span.row1--link= link_to "O mnie", '#'
        .w3-col.w3-quarter.row1--link.teal.w3-padding
          %span.row1--link= link_to "Linki", '#'
    .w3-col.l2
