.row1__langs
  - if current_locale == :zh
    = link_to("English",lang: :en)
  - else
    = link_to("中文版", lang: :zh)
.row1__title
  %h1
    = t("elefanto")
    %br.row1__title--linebreak
    %span.row1__subtitle= t("memoirs")
