%nav.row1__menu.row
  .col-sm-4.row1--link.col-xs-4
    = link_to t("homepage"), home_path, :locale => current_locale
  .col-sm-4.row1--link.col-xs-4
    = link_to t("blog"), blog_path, :locale => current_locale
  .col-sm-4.row1--link.col-xs-4
    = link_to t("contact_me"), about_path, :locale => current_locale
