.w3-col.w3-quarter.row1--link.blue-d4.w3-padding
    %span.row1--link= link_to "Strona główna", '#'
.w3-col.w3-quarter.row1--link.teal.w3-padding
    %span.row1--link= link_to "Blog", '#'
.w3-col.w3-quarter.row1--link.blue-d4.w3-padding
    %span.row1--link= link_to "O mnie", '#'
.w3-col.w3-quarter.row1--link.teal.w3-padding
    %span.row1--link= link_to "Linki", '#'
