.subscription__ad
  If you want to stay up to date with my journey to Taiwan,
  %br
  = link_to "Subscribe", new_subscription_path, class: "btn blue"
  to the Moroz Newsletter.
  = link_to "Dismiss", "javascript:void(null)", class: "btn orange", id: "dismiss"
