$(function() {
  $('td').click(function() {
    if($(this).html() == "")
      $(this).html("<span class=\"details\">Nie ma zajęć! Hurra!!!</span>");
    $(this).find('.details,.time').toggle();
  });
});
