$(function() {
  $('td').click(function() {
    if($(this).html() != "")
      $(this).find('.details,.time').toggle();
    else {
      $(this).html("<span class=\"details\">Nie ma zajęć! Hurra!!!</span>");
      $(this).find('.details,.time').toggle();
    }
  });
});
