%h1 关于我与联系方式

%p 这是我的朋友和我，在贵州安顺（我在右边）：
- if @mobile
  = image_tag 'pictures/anshun-square.jpg', :class => 'img-responsive'
- else
  = image_tag 'pictures/anshun-rectangle.jpg', :class => 'img-responsive'
%p 如果你想联系我，最好的方法是用电子邮件：k&#46;j&#46;moroz&#64;gmail&#46;com
%p 另外还可以用我的姓名在Facebook上找到我：Karol Moroz。还可以来邮件问我的电话号码。我的微信号：moroz108。
