%h1 About me
%p This is me with my friend in Anshun, Guizhou province.
- if @mobile
  = image_tag 'pictures/anshun-square.jpg', :class => 'img-responsive'
- else
  = image_tag 'pictures/anshun-rectangle.jpg', :class => 'img-responsive'
%p If you want to contact me, the best way to do so is via e-mail: k&#46;j&#46;moroz&#64;gmail&#46;com
%p You can also find me on Facebook by my name: Karol Moroz.
%p Or you can send me an e-mail and ask for my telephone number.
