%h1 O mnie & kontakt
%p Oto ja z koleżanką w Anshun, prowincja Guizhou.
- if @mobile
  = image_tag 'pictures/anshun-square.jpg', :class => 'img-responsive'
- else
  = image_tag 'pictures/anshun-rectangle.jpg', :class => 'img-responsive'
%p Najłatwiej skontaktować się ze mną przez e-mail: k&#46;j&#46;moroz&#64;gmail&#46;com
%p Można też znaleźć mnie na Facebooku za pomocą mojego imienia i nazwiska bądź adresu e-mail.
%p Można też napisać do mnie maila i zapytać o numer telefonu. Pozdrawiam i życzę miłego dnia.
