%h1 關於我與聯系方式

%p 這是我的朋友和我，在貴州安順（我在右邊）：
- if mobile?
  = image_tag 'pictures/anshun-square.jpg', :class => 'img-responsive'
- else
  = image_tag 'pictures/anshun-rectangle.jpg', :class => 'img-responsive'
%p 如果你想聯系我，最好的方法是用電子郵件：k&#46;j&#46;moroz&#64;gmail&#46;com
%p 另外還可以用我的姓名在Facebook上找到我：Karol Moroz。還可以來郵件問我的電話號碼。我的微信號：moroz108。
