- content_for :row1_abovenav do
  Tio ĉi estas blogo de Karol Moroz, ĉinaparolanta Budhano el Koszalin, Pollando.

Bonvenon en mia paĝo! Mi nomiĝas Karol Moroz, kaj mi estas Pollandano. Dum mi skribas ĉi tiujn vortojn, mi estas studento de sinologio ĉe la Universitato de Adam Mickiewicz en Poznań, Pollando.
