= render 'shared/subscription_ad'
%p 歡迎來到我的網站！我來自波蘭，名字叫Karol Moroz。我有很多中文名，其中用得最多的應該是李小龍、莫若思、張學友還有花心大蘿蔔。我在波蘭波茲南市讀大學，我專修的是中文，目前上大三。我2014年下半年到中國留學。我上課有些問題，並沒有上很多的課，但我覺得在中國呆了九個月，我的中文水平還是提高了不少。我很樂意跟中國各地的人交朋友。

%p 幾年以前，具體來講2008年5月的某一天，當時我正在走路去上課，我想或許我可以開一個博客，在上面寫下我對生活的概念，還有一些沒有具體話題的文章。之前有一段時間，我不能上傳我的文章，因為當時我用的服務器給鎖了數據庫。在這個網站我會將我所寫的文章聚在一起。它們大部分是用波蘭文寫的，有些是英文的，還有少數是中文的。希望你喜歡看。

%p 你們也許要問：這個網站是有關大象的嗎？如果跟大象沒有任何關系，你幹嘛給它起了《大象日記》這個名字？那是因為我之前經常說，我長得很胖而且學習吹小號（波蘭文的trąba可以指象鼻，也可以指小號），正像一只大象。還有，大象是一種很強大的動物，在很多國家的文化中，大象被視為吉祥物和瑞獸，歐洲人雖然很少見到大象，卻基本上都會喜歡。有些人不喜歡貓、還有一些不喜歡狗，但世上有哪個人不喜歡熊貓？有哪個不喜歡大象？因此我就選擇了一種很受人喜歡的動物當做我網站的商標。

%p 如果你不小心看到我的網站，你可以加我的微信：moroz108。只是要記住，我不打電腦遊戲，目前也不在中國。
