- content_for :row1_abovenav do
  This is the blog of Karol Moroz, a Chinese-speaking Buddhist from Koszalin, Poland.

<p>Welcome to my website! My name is Karol Moroz. I am originally from Koszalin, Poland, but I tend to wander around the world, so the place of my residence is subject to changes. I spent two years in Poznań, Poland, nine months in Chengdu, Sichuan province, P.R.C., and every day when I wake up, I don't know where I will end up that day.</p>

<p>I have several hobbies. For instance, when I was six, I could already read and write, albeit not very fluently, and it occured to me that, perhaps, one day I will become a great writer. I am not so sure about that now, though. I like meeting new friends, from my own country as well as from the rest of the world. I'm also profoundly interested in foreign languages. I speak Polish, English and Chinese (Mandarin or 普通话,) and I've learned several other languages in my life. I'm a follower of Diamond Way Buddhism and I meditate.</p>

<p>I've kept blogs before, one of them was called Ubogo, ale chędogo (Poor but cool, written in my native language–Polish) and I started that one very young, in 2008. Afterwards my logorrhea ended up on a website called Elefanto, written in English, but the CMS engine for that one was written in Ruby on Rails mostly by myself and it was hardly portable at all, so when my hosting service provider raised their fees from $0/year to $45/month, I couldn't help but close down. The next one was using a CMS called Mediawiki, and it looked and behaved like Wikipedia.</p>

<p>Not all of my past blog entries have been moved yet, if you want more, feel free to contact me.</p>
