<p>欢迎来到我的网站！我来自波兰，名字叫Karol Moroz。我有很多中文名，其中用得最多的应该是李小龙、莫若思、张学友还有花心大萝卜。我在波兰波兹南市读大学，我专修的是中文，目前上大三。我2014年下半年到中国留学。我上课有些问题，并没有上很多的课，但我觉得在中国呆了九个月，我的中文水平还是提高了不少。我很乐意跟中国各地的人交朋友。</p>

<p>几年以前，具体来讲2008年5月的某一天，当时我正在走路去上课，我想或许我可以开一个博客，在上面写下我对生活的概念，还有一些没有具体话题的文章。之前有一段时间，我不能上传我的文章，因为当时我用的服务器给锁了数据库。在这个网站我会将我所写的文章聚在一起。它们大部分是用波兰文写的，有些是英文的，还有少数是中文的。希望你喜欢看。</p>

<p>你们也许要问：这个网站是有关大象的吗？如果跟大象没有任何关系，你干嘛给它起了《大象日记》这个名字？那是因为我之前经常说，我长得很胖而且学习吹小号（波兰文的trąba可以指象鼻，也可以指小号），正像一只大象。还有，大象是一种很强大的动物，在很多国家的文化中，大象被视为吉祥物和瑞兽，欧洲人虽然很少见到大象，却基本上都会喜欢。有些人不喜欢猫、还有一些不喜欢狗，但世上有哪个人不喜欢熊猫？有哪个不喜欢大象？因此我就选择了一种很受人喜欢的动物当做我网站的商标。</p>

<p>如果你不小心看到我的网站，你可以加我的微信：moroz108。只是要记住，我不打电脑游戏，目前也不在中国。</p>
