%p 歡迎來到我的網站！我來自波蘭，名字叫Karol Moroz。我有很多中文名，其中用得最多的應該是李小龍和莫若思。我曾在波蘭波茲南市讀中文系。

%p 幾年以前，具體來講2008年5月的某一天，我正在走路去上課的時候，我想或許可以開一個網誌，在上面寫下我對生活的概念，還有一些亂七八糟的文章。有一段時間，我根本沒辦法上傳我的文章，因為當時使用的服伺服器給鎖了資料庫。在這個網頁我會將我所寫的文章聚在一起。它們大部都分是用波蘭文寫的，有些是英文的，還有少數是中文的。希望你喜歡看。

%p 你們也許要問：這個網站是有關大象的嗎？如果跟大象沒有任何關系的話，你幹嘛給它起了《大象日記》這個名字？那是因為我之前經常說，我長得很胖而且學習吹小號（波蘭文的trąba可以指象鼻，也可以指小號），正像一只大象。還有，大象是一種很強大的動物，在很多國家的文化中，大象被視為吉祥物，歐洲人雖然很少見到大象，卻基本上都會喜歡。有些人不喜歡貓、還有一些不喜歡狗，而中東人不喜歡豬，但世上有哪個人不喜歡大象？因此我就選擇了一種很受人喜歡的動物當做我網頁的商標。

%p!= "如果你是巧合找到我的網頁，你可以" + (link_to "聯繫我", about_path) + "。"
