- content_for :head do
  <script type="text/javascript">
  = render 'schedule_js'
  </script>

%h1 Plan zajęć
Kliknij na przedmiot, aby zobaczyć szczegóły
%table.table.table-hover#timetable
  %tr
    %td poniedziałek
    %td wtorek
    %td środa
    %td czwartek
    %td piątek
  %tr
    %td
      %span.time 8.30-10.00
      konwersacje
      %br
      %span.details
        120, pani Sun
    %td
      %span.time 8.30-10.00
      gramatyka opisowa
      %br
      %span.details
        120, Maria
    %td
    %td
      %span.time 8.30-10.00
      lektura tekstów literackich
      %br
      %span.details
        120, Maria
    %td
      %span.time 8.30-10.00
      konwersacje
      %br
      %span.details
        120, pani Sun
  %tr
    %td
      %span.time 10.15-11.45
      lektura tekstów specjalistycznych
      %br
      %span.details
        120, pani Sun
    %td
      %span.time 10.15-11.45
      lektura tekstów literackich
      %br
      %span.details
        120, Maria
    %td
    %td
      %span.time 10.15-11.45
      konwersacje
      %br
      %span.details
        125, pani Sun
    %td
      %span.time 10.15-11.45
      proseminarium
      %br
      %span.details
        125, Halinka
  %tr
    %td
      %span.time 12.00-13.30
      gramatyka opisowa
      %br
      %span.details
        121, Wisia
    %td
      %span.time 12.00-13.30
      japoński
      %br
      %span.details
        120, mgr Anna Bogdan
    %td
      %span.time 12.00-13.30
      japoński
      %br
      %span.details
        120, mgr Anna Bogdan
    %td
    %td
      %span.time 12.00-13.30
      wstęp do przekładu
      %br
      %span.details
        121, Kamil
  %tr
    %td
      %span.time 13.45-15.15
      kompozycja tekstu
      %span.details
        418, pani She
    %td
    %td
      %span.time 13.45-15.15
      chiński klasyczny
    %td
    %td
