- content_for :head do
  <script type="text/javascript">
  = render 'schedule_js'
  </script>

%h1 Timetable
%table.table.table-hover#timetable
  %tr
    %td poniedziałek
    %td wtorek
    %td środa
    %td czwartek
    %td piątek
  %tr
    %td
      konwersacje
      %br
      %span.details
        120
        lic. Sun Huiyi
    %td
      gramatyka opisowa
      %br
      %span.details
        120
        dr Maria Kurpaska
    %td
    %td
      lektura tekstów literackich
      %br
      %span.details
        120
        dr Maria Kurpaska
    %td
      konwersacje
      %br
      %span.details
        120
        lic. Sun Huiyi
  %tr
    %td
      lektura tekstów specjalistycznych
      %br
      %span.details
        120
        lic. Sun Huiyi
    %td
      lektura tekstów literackich
      %br
      %span.details
        120
        dr Maria Kurpaska
    %td
    %td
      konwersacje
      %br
      %span.details
        125
        lic. Sun Huiyi
    %td
      proseminarium
      %br
      %span.details
        125
        dr Halina Wasilewska
        
