%br
- if params[:post_lang]
  = link_to "Show posts in all languages", :lang => nil, :page => params[:page]
- else
  Show only posts in:
  = link_to "English", :post_lang => "en"
  &mdash;
  = link_to "Polish", :post_lang => "pl"
  &mdash;
  = link_to "Chinese", :post_lang => "zh"
