= render post
%a{:name => "comments"}
%section#comments
  - unless post.comments.empty?
    %h3 Comments
    = render @comments
%a{:name => "new_comment"}
= render 'comments/comment_form', :post => [post,new_comment]
