= render @post
%a{:name => "comments"}
- unless @post.comments.count == 0
  %h3 Comments
  = render :partial => 'shared/comment', :collection => @comments
%a{:name => "new_comment"}
- @new_comment ||= Comment.new
= render 'shared/comment_form', :post => [@post,@new_comment]
