html {
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
font-size: 85%;
}

.row1 {
  height: auto;
  color: #bf2501;
  text-align: center;
  margin: auto;
  background-image: url(background-mountain.jpg);
  font-weight: 600;
}

.row1__subtitle {
  color: #711600;
  font-size: 1.5rem;
  font-weight: 400;
}

.wrapper {
  margin: auto;
  padding: 0.5em;
  max-width: 800px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "Microsoft Yahei",
    "微软雅黑", STXihei, "华文细黑", "Droid Sans Fallback", sans-serif;
  overflow: hidden;
}

img#elephant {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

// On desktop
@media (min-width: 500px) {
  .wrapper {
    padding: 1.5em;
  }

  .row1__title--linebreak {
    display: none;
  }

  body {
    background-position: right;
    background-attachment: fixed;
    background-repeat: repeat-y;
    height: 100%;
  }

  .row1__menu div {
    padding: 0.5em;
  }
}

.row1__langs {
  color: #23355f;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: -10px;
}

.row1__content {
  color: #fff;
  margin-bottom: 0.5em;
}

.row2 {
  padding: 0.6em;
  color: #002626;
  background-color: #ccc;
  font-size: 1.1rem;
}

@media (min-width: 800px) {
  body {
    font-weight: 400;
  }

  .row1 {
    text-align: left;
  }
}

a {
  color: #396700;
}

a:visited {
  color: #065678;
}

.row1--link {
  text-align: center;
  vertical-align: middle;
  height: auto;
  margin: auto;
  font-size: 125%;
}

.row1__menu {
  a {
    color: #034662;
    font-weight: 600;
  }
}

.row3 {
  background-color: #023247;
  color: #fff;
  // padding: 1em;
}

.row3 a {
  color: #bbb;
  font-weight: bold;

}

.timestamp {
    color: #003300;
    font-size: 90%;
}

.post__content {
  color: #002626;
}

hr {
    width: 50%;
}

.post--lang_en {
}

.post--lang_zh, .post--lang_zh-hant, .post--lang_zh-hans {
  font-size: 1.2rem;
}

.post__lang_versions {
  background-color: #ccc;
  border: solid 1px #999;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: -0.5em;
  border-radius: 4px;
}

.post__header--margin {
  margin-top: -1.5em;
}

.post__linkbox {
  background-color: #ccc;
  border: solid 1px #999;
  padding: 1em;
  margin: 1em;
  height: auto;
  // font-weight: bolder;
}

.faq__questions {
  font-size: 1.15rem;
  font-weight: bolder;
  color: #002626;
}

.row2__flashbox {
  margin-bottom: 2.5em;
}

.round {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
