* {
  margin: 0;
  padding: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  font-size: 92%;
  background-color: #ccc;
}

.row1 {
  color: #eee;
  text-align: center;
  font-weight: 500;
  padding-top: 55px;
  height: 180px;
  background-image: url("background-night.jpg");
  background-position: 0 80%;
  background-attachment: fixed;
  h1 {
    text-align: center;
    font-size: 1.8rem;
  }
}

.row1__subtitle {
  color: #eee;
  font-size: 1.5rem;
  font-weight: 400;
}

.wrapper {
  margin: auto;
  padding: 0.5em;
  max-width: 800px;
}

.container {
  padding: 0.5em;
}

.wrapper--nopadding {
  margin: auto;
  max-width: 800px;
  padding: 0 1em 0.5em 1em;
}

body {
  font-family: Lato, "Helvetica", "Arial", "Microsoft Yahei",
    "微软雅黑", STXihei, "华文细黑", "Droid Sans Fallback", sans-serif;
  overflow: hidden;
}

a {
  color: #396700;
  font-weight: bolder;
}

a:visited {
  color: #062e4b;
}
// On desktop
@media (min-width: 500px) {
  .wrapper {
    padding: 1.5em;
  }

  .only_mobile {
    display: none;
  }

  body {
    background-position: right;
    background-attachment: fixed;
    background-repeat: repeat-y;
    height: 100%;
  }
}

.navigation__link {
  display: inline-table;
  position: relative;
  padding: 0.5em 0.5em 0 0.7em;
  a {
    color: #fff;
  }
}

.row2 {
  // padding: 0.6em;
  padding-top: 0;
  color: #062e4b;
  background-color: #ccc;
  font-size: 1.1rem;
  margin-top: 0;
}

h1 {
  margin-top: 0;
}

@media (min-width: 800px) {
  body {
    font-weight: 400;
  }

  .row1 {
    text-align: left;
    height: 280px;
    padding-top: 90px;
    h1 {
      font-size: 3.2rem;
    }
  }

  .navigation {
    padding: 0.2em;
  }

  .navigation__link {
    padding: 0.85em 0.8em 0 0.8em;
  }
}

.row3 {
  color: #eee;
  background-color: #062e4b;
}

.row3 a, .row3 a:visited {
  color: #eee;
  font-weight: bold;

}

.timestamp {
    color: #007c44;
    font-size: 90%;
}

hr {
    width: 50%;
}

.row2__flashbox {
  margin-bottom: 2.5em;
}

.round-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.round-3 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.navigation {
  position: fixed;
  z-index: 2;
  background-color: #062e4b;
  // padding-top: 0;
  margin: 0;
  width: 100%;
  // height: 70px;
 // padding: 0.5em;
}

.navigation--right {
  float: right;
  right: 0;
}

.btn__submit {
  background-color: #fff;
  color: #000;
  font-variant: all-caps;
  width: 100%;
  padding: 0.5em;
}

.btn {
  padding: 0.2em 0.35em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #eee;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 1px;
}

a.btn:hover {
  text-decoration: none;
}

a.blue, a:visited.blue {
  color: #eee;
  background-color: #085289;
}

a.blue:hover {
  background-color: #f8c49e;
  color: #111;
}

a.green, a:visited.green {
  background-color: #007c44;
  color: #eee;
}

a.green:hover {
  background-color: #ff83bb;
  color: #111;
}

a.orange, a:visited.orange {
  background-color: #e82200;
  color: #eee;
}

a.orange:hover {
  background-color: #37e4e9;
  color: #111;
}

a.purple, a:visited.purple {
  color: #eee;
  background-color: #e80052;
}

a.btn--center {
  margin: 0 auto;
}

a.purple:hover {
  background-color: #17ffad;
  color: #111;
}

.btn__send {
  background-color: #007c44;
  color: #eee;
  padding: 0.5em;
  border: 1px solid #999;
  width: 100%;
  text-align: center;
}

.subscription__ad {
  padding: 0.5em;
  border: 1px solid #999;
  text-align: center;
  font-weight: bold;
}

input[type="submit"].btn__send:hover {
  color: #111;
  background-color: #ff83bb;
}


