html {
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
}

.row1 {
  height: auto;
  color: #002626;
  text-align: left;
  margin: auto;
  background-image: url(/images/backgrounds/background-night.jpg);
}

.wrapper {
  margin: auto;
  padding: 0.5em;
  max-width: 800px;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
   "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
   Geneva, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei,
   "华文细黑", "Droid Sans Fallback", sans-serif;
  font-size: 160%;
}

img#elephant {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  // content: url(elephant-zh-mobile.png)
}

// On desktop
@media (min-width: 500px) {
  .wrapper {
    padding: 1.5em;
  }

  body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat-y;
    height: 100%;
  }

  img#elephant {
    display: block;
    max-width: 95%;
    margin: 0 auto;
    // content: url(elephant-zh-long.png)
  }
}

.row1__langs {
  color: #23355f;
  font-weight: bolder;
  margin-top: 5px;
  // margin-bottom: -30px;
}

.row1__content {
  color: #fff;
}

.row2 {
  padding: 0.6em;
  // padding-bottom: 1em;
  color: #002626;
  background-color: #ccc;
}

@media (min-width: 800px) {
  body {
    font-size: 160%;
  }
}

a {
  color: #0c4f0c;
}

a:visited {
  color: #23355f;
}

.row1--link {
  text-align: center;
  vertical-align: middle;
  height: auto;
  // font-weight: bold;
  // outline: solid 1px #000;
  // padding: 1em;
  // clear: both;
  margin: auto;
}

.row1__menu {
  div {
    background-color: #ccc;
    padding: 0.5em;
  }

  a {
    color: #030;
    font-weight: bolder;
  }
}

.row3 {
  background-color: #002626;
  color: #fff;
  // padding: 1em;
}

.row3 a {
  color: #bbb;
  font-weight: bold;

}

.timestamp {
    color: #003300;
    font-size: 90%;
    /*font-variant: small-caps;*/
}

.post__content {
  color: #002626;
  // font-size: 110%;
}

hr {
    width: 50%;
}

.post--lang_en {
  // font-size: 100%;
}

.post--lang_zh {
  font-size: 110%;
}

.post__lang_versions {
  background-color: #ccc;
  border: solid 1px #999;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: -0.5em;
  border-radius: 4px;
}

.post__header--margin {
  margin-top: -1.5em;
}

.post__linkbox {
  background-color: #ccc;
  border: solid 1px #999;
  padding: 1em;
  margin: 1em;
  height: auto;
  // font-weight: bolder;
}

.faq__questions {
  font-size: 115%;
  font-weight: bolder;
  color: #002626;
}

.post__comment {
  border: solid 1px #999;
  padding: 1em;
}
