// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border: 1px solid #999;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.comment--saved {
  background-color: #7cba7c;
}

.btn__permalink, .btn__edit, .btn__delete, .btn__publish {
  padding: 0.2em 0.35em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #eee;
  margin: 0 1px;
}

a.btn__permalink, a:visited.btn__permalink {
  color: #eee;
  background-color: #073b61;
}

a.btn__edit, a:visited.btn__edit {
  background-color: #007c44;
  color: #eee;
}

a.btn__delete, a:visited.btn__delete {
  background-color: #c81b16;
  color: #eee;
}

a.btn__publish, a:visited.btn__publish {
  color: #eee;
  background-color: #e80052;
}

.btn__send {
  background-color: #007c44;
  color: #eee;
  font-weight: bold;
  padding: 0.5em;
  border: 1px solid #999;
  width: 100%;
  text-align: center;
}

.comment__newcomment {
  border: 1px solid #999;
  padding: 1em;
  margin: 1em;
  padding-top: 0;
}

.post__language {
  background-color: #7eb3e0;
  color: #474747;
  padding-left: 3px;
  padding-right: 3px;
  display: inline;
  font-weight: bold;
}

.post__language--zh, .post__language--zh-hans, .post__language--zh-hant {
  background-color: #91e962;
}

.post__language--pl {
  background-color: #ed9a8c;
}

.post--lang_zh, .post--lang_zh-hant, .post--lang_zh-hans {
  font-size: 1.25rem;
}

.post__lang_versions, .post__categories, .post__unpublished {
  border: 1px solid #999;
  padding: 0.55em;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  border-radius: 4px;

  a {
    font-weight: bold;
  }
}

.post__header--margin {
  margin-top: -1.5em;
}

.linkbox {
  background-color: #ccc;
  border: 1px solid #999;
  padding: 1em;
  margin: 1em;
  height: auto;
}

.post {
  margin: -0.6em 0;
}
