// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border: 1px solid #999;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.comment--saved {
  background-color: #7cba7c;
}

.comment__newcomment {
  border: 1px solid #999;
  padding: 1em;
  margin: 1em;
  padding-top: 0;
}

.post__language, .post__language-button {
  background-color: #085289;
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  display: inline;
  font-weight: bold;
}

.post__language-button {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #999;
  margin-bottom: 0.5em;
  display: inline-block;
}

a:visited.post__language-button {
  color: #fff;
}

.post__language--zh {
  background-color: #079555;
}

.post__language--pl {
  background-color: #e82200;
}

.post--lang_zh {
  font-size: 1.25rem;
}

.post__lang_versions, .post__categories, .post__unpublished {
  border: 1px solid #999;
  padding: 0.55em;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  border-radius: 4px;

  a {
    font-weight: bold;
  }
}

.post__header--margin {
  margin-top: -1.5em;
}

.linkbox {
  background-color: #ccc;
  border: 1px solid #999;
  padding: 1em;
  margin: 1em;
  height: auto;
}

.post {
  margin: -0.6em 0;
}
